#body {
    background-color: #EEE;
}

#header {
    background-color: #800080;
    float: left;
}

#title {
	clear: both;
	background-color: #0000FF;
    color: white;
    text-align: center;
    height: 325px;
    font-size: 48px;
}

#About {
    text-align: center;
    font-size: 30px;
}

#Bullets {

}

#Footer {
    text-align: right;
}
